# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/
dist/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env
.env*.local

# macOS
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
.vercel
